
/* ------------------------- */
/*      GLOBAL SETTINGS      */
/* ------------------------- */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a, i, img, footer {
  user-select: none;
}

html {
  font-size: 10pt;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(1,0,24,1) 0%, rgba(48,19,65,1) 100%) no-repeat center fixed;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  font-weight: 800;
  color: #202020;
}

h3 {
}

p {
  font-size: 12pt;
}

img {
  width: 30rem;
  height: auto;
}

section {
  padding: 10% 0;
  z-index: 2;
  position: relative;
}

section:first-child {
  padding: 0;
}

section:last-child {
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: auto;
  margin: -2rem auto -2rem auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 2rem;
}

.diamond-container {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.diamond {
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: rgba(48,19,65,1);
  position: relative;
  top: -8px;
  justify-content: center;
  text-align: center;
  margin: 20px 6px 20px 6px;
  opacity: 0.16;
}

.diamond:after {
  content: '';
  position: absolute;
  left: -8px;
  top: 8px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: rgba(48,19,65,1);
  justify-content: center;
  text-align: center;
  margin: auto auto auto auto;
}

.diamond-mobile {
  visibility: hidden;
}

.header-break, .header-break-full, .header-break-project-card, .header-break-section {
  display: flex;
  align-self: center;
  height: 2px;
  width: 10rem;
  margin: 1rem 0;
  background: #000;
}

/* #separator {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.header-break-section {
  width: 70rem;
  background: #fff;
} */

@media only screen and (max-width: 58rem) {
  .container {
    width: 100vw;
    margin: auto;
    border-radius: 0px;
    padding: 0;
  }

  h1 {
    font-size: 3.7rem;
  }
}


/* ------------------------- */
/*      NAVIGATION BAR       */
/* ------------------------- */

#nav-span {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  position: fixed;
  z-index: 5;
  width: 100vw;
  top: -100vh;
  background-color: rgba(1,0,24,1);
  text-align: center;
  text-decoration: none;
  transition: top 0.2s;
  color: white;
  height: 4.5rem;
}

#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70rem;
  border-bottom: 2px inset #2C2B66;
}

#nav-span a {
  text-decoration: none;
  color: #f2f2f2;
}

#nav-span h1 {
  margin: auto;
  font-size: 12pt;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 1px 1px grey;
  /* animation: colorchange 5s ease-in-out infinite;
  -webkit-animation: colorchange 5s ease-in-out infinite; */
}

/* @keyframes colorchange {
  0%   {color: #fff;}
  50%  {color: blue;}
  100% {color: red;}
}

@-webkit-keyframes colorchange {
  0%   {color: #fff;}
  50%  {color: blue;}
  100% {color: red;}
} */

#nav-span ul {
  width: 26rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

#nav-span li {
  font-size: 11pt;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#nav-span li:hover {
  font-weight: bold;
  color: #6c63ff;
  letter-spacing: 1.8px;
}

.nav-menu-mobile {
  display: none;
}


@media only screen and (max-width: 74rem) {
  #nav-container {
    margin: 0 2.5rem;
  }
}

@media only screen and (max-width: 58rem) {
  #nav-span {
    height: 6rem;
    margin: auto;
    border-bottom: 2px inset #2C2B66;

  }
  #nav-container {
    width: 100vw;
    height: 6rem;
    border-bottom: none;
  }

  #nav-span h1 {
    /* margin-left: 4rem; */
    font-size: 18pt;
  }

  .nav-menu-desktop {
    display: none;
  }






  .nav-menu-mobile {
    display: flex;
    z-index: 10;
    top: 0;
    margin-right: 2.5rem;
  }

  .nav-menu-mobile #toggler {
    position: absolute;
    top: 1.8rem;
    left: calc(100vw - 40px - 2.5rem);
    z-index: 6;
    cursor: pointer;
    width: 40px;
    height: 30px;
    opacity: 0;
  }

  .nav-menu-mobile .hamburger {
    position: absolute;
    top: 1.8rem;
    left: calc(100vw - 40px - 2.5rem);
    z-index: 5;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Hamburger Line */
  .nav-menu-mobile .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }

  /* Hamburger Lines - Top & Bottom */
  .nav-menu-mobile .hamburger > div::before,
  .nav-menu-mobile .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 10;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  /* Moves Line Down */
  .nav-menu-mobile .hamburger > div::after {
    top: 10px;
  }

  /* Toggler Animation */
  .nav-menu-mobile #toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  /* Turns Lines Into X */
  .nav-menu-mobile #toggler:checked + .hamburger > div:before,
  .nav-menu-mobile #toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }


  /* Show Menu */
  .nav-menu-mobile #toggler:checked ~ .menu {
    visibility: visible;
  }

  .nav-menu-mobile #toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.25s;
  }

  .nav-menu-mobile #toggler:checked ~ .menu > div > div {
    opacity: 1;
  }

  .nav-menu-mobile .menu {
    position: fixed;
    top: 6rem;
    left: 0;
    width: 100vw;
    height: 10%;
    z-index: 4;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-menu-mobile .menu > div {
    background: #2C2B66;
    width: 100vw;
    height: 100vw;
    display: flex;
    z-index: 4;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: top 0.5s ease;
  }

  .nav-menu-mobile .menu > div > div {
    text-align: center;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .nav-menu-mobile .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .nav-menu-mobile .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;
  }
}











/* ------------------------- */
/*    BACKGROUND SECTION     */
/* ------------------------- */

#background {
  position: fixed;
  z-index: 1;
}


#mouse-draw {
  width: 5px;
  height: 5px;
  border-radius: 100px;
  position: absolute;
  opacity: 0.2;
}




/* ------------------------- */
/*      LANDING SECTION      */
/* ------------------------- */

#landing {
  min-width: 100vw;
  min-height: 100vh;
}

#landing-container {
  width: 100vw;
  height: 100vh;
  margin: -2rem auto -28rem auto;
  padding: 5rem;
  text-align: center;
}

#profile-photo {
  width: 6rem;
  height: auto;
  border-radius: 50%;
}

#landing-container h1 {
  font-size: 6.55rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: normal;
  color: #fff;
  margin-bottom: -0.8rem;
}

#landing-container h3 {
  font-size: 1.65rem;
  color: #f3f3f3;
}

a #landing-arrow  {
  margin-top: 2rem;
  position: absolute;
  /* top: 0; */
  left: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: chevron-animation 2.5s infinite;
  animation: chevron-animation 2.5s infinite;

  box-sizing: border-box;
}

/* a #landing-arrow:hover {
  transition: 0.25s ease-in-out;
  border-left: 4px solid #BAC6FF;
  border-bottom: 4px solid #BAC6FF;
} */


@-webkit-keyframes chevron-animation {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transition: 2.5s ease-in-out;
    border-left: 4px solid #BAC6FF;
    border-bottom: 4px solid #BAC6FF;
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes chevron-animation {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-8px, 8px);
    transition-timing-function: 2.5s ease-in-out;
    border-left: 4px solid #BAC6FF;
    border-bottom: 4px solid #BAC6FF;
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}


/* a #landing-arrow-circle  {
  position: absolute;
  left: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  margin-top: 3rem;
  border-radius: 50%;
  -webkit-animation: chevron-circle 2.5s infinite;
  animation: chevron-circle 2.5s infinite;
}

@-webkit-keyframes chevron-circle {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  50% {
    box-shadow: 0 0 0 3rem rgba(255,255,255,0.08);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes chevron-circle {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  50% {
    box-shadow: 0 0 0 3rem rgba(255,255,255,0.08);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
} */

@media only screen and (max-width: 58rem) {
  .container {
    width: 100vw;
    margin: auto;
    border-radius: 0px;
    padding: 0;
  }
  #landing-container {
    margin-top: 16vh;
    padding: 0;
  }
  #landing-container h1 {
    font-size: 11vw;
  }
  #landing-container h3 {
    font-size: 2.78vw;
  }
}

@media only screen and (max-width: 40rem) {
  #landing-container {
    margin-top: 22vh;
  }

  #landing-container h1 {
    font-size: 12.5vw;
  }
  #landing-container h3 {
    font-size: 3.15vw;
  }
}


/* ------------------------- */
/*       ABOUT SECTION       */
/* ------------------------- */

#about .container {
  max-width: 70rem;
  text-align: center;
  justify-content: center;
  padding-top: 4rem;
}

#about .header-break {
  background: #000;
  opacity: 0.25;
}

#about-description {
  padding: 0 5rem;
  margin: 2rem 0 1rem 0;
  text-align: justify;
  font-size: 12pt;
  opacity: 0.7;
}

.principles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem;
}

.principle-item {
  width: 16rem;
}

.principle-item img {
  height: 11rem;
  width: 11rem;
  /* border: 1px solid pink; */
}

.principle-item h3 {
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: 1rem;
  opacity: 0.7;
}

.principle-item p {
  font-size: 11pt;
  text-align: justify;
  opacity: 0.5;
}

.technologies {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0;
}

.technologies h4 {
  align-self: center;
  position: relative;
  z-index: 4;
  margin: 8px 8px -12px 8px;
  padding: 0 14px;
  background: #f2f2f2; /* MAKE SURE THIS IS THE SAME AS SECTION BG COLOR */
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 1px 1px grey;
  color: #6c63ff;
}

.technologies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 78%;
  margin: auto;
  padding: 1.5rem 1rem 1rem 1rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.technologies-list img {
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
}

.technologies-list p {
  margin: 3px;
  padding: 4px 14px;
  font-size: 10pt;
  font-weight: bold;
  color: black;
  opacity: 0.8;
}

.technologies-list i {
  margin-right: 8px;
  font-size: 14pt;
  opacity: 0.8;
}

#resume-button {
  width: auto;
  margin: 1rem auto 2rem auto;
  padding: 12px 20px;
  background: #3e3d56;
  text-align: center;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

#resume-button:hover {
  background-color: #6c63ff;
  color: white;
}



@media only screen and (max-width: 58rem) {
  #about .container {
    padding-top: 2rem;
    margin-top: -0.5rem;
  }

  #about h1 {
    margin-top: 3rem;
  }
  #about-description {
    font-size: 14pt;
    margin-bottom: 4rem;
    padding: 0 2.5rem;
  }

  .diamond, .diamond-mobile {
    opacity: 0.5;
  }


  .diamond-mobile {
    visibility: visible;
    margin-bottom: -1rem;
  }

  .principles {
    padding: 0;
  }

  .principle-item {
    width: 100vw;
    margin: 2.5rem;
  }

  .principle-item img {
    height: 40vh;
    width: 40vw;
    margin-top: -4rem;
  }

  .principle-item h3 {
    font-size: 36pt;
  }

  .principle-item p {
    font-size: 14pt;
    text-align: justify;
    opacity: 0.5;
  }

  .technologies h4 {
    margin-bottom: -16px;
    font-size: 4vw;
  }

  .technologies-list {
    /* flex-direction: column; */
    width: 70vw;
    text-align: left;
    margin: auto;
    padding: 1.5rem 1rem 1rem 1rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }

  .technologies-list p {
    margin: 5px;
    font-size: 3vw;
    font-weight: bold;
    color: black;
    opacity: 0.7;
  }

  .technologies-list i {
    margin-right: 8px;
    font-size: 14pt;
    opacity: 0.8;
  }

}



/* ------------------------- */
/*      PROJECTS SECTION     */
/* ------------------------- */

#projects .container{
  width: 100vw;
  /* background: url("assets/images/projbg.jpg") no-repeat; */
  background: transparent;
  background-size: 100vw;
  margin: -7.5rem auto -2rem auto;
}

#projects h1 {
  color: white;
  padding-top: 2rem;
}

#projects .header-break {
  background: #fff;
  opacity: 0.5;
}

#projects-description {
  padding: 0 5rem;
  margin: 2rem 0 1rem 0;
  text-align: center;
  font-size: 12pt;
  color: #f4f4f4;
}

.projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.project-card {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
}

.project-text-container {
  background: #f2f2f2;
  width: 30rem;
  text-align: left;
  padding: 1.5rem;
  border-radius: 0 0 5px 5px;
}

#projects img {
  width: 400px;
  height: 290px;
  border-radius: 5px 5px 0 0;
  margin-bottom: -1rem;
}

/* #projects #permitdocs-img img {
  height: 270px;
} */
#projects h4 {
  font-size: 24pt;
  /* text-shadow: 1px 1px grey; */
  /* color: #6c63ff; */
  color: black;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
  opacity: 0.8;
  /* letter-spacing: 2px; */
}

.project-description {
  opacity: 0.6;
}

#projects .header-break-project-card {
  width: 100%;
  margin: 0.7rem 0 0 0;
  opacity: 0.15;
}

.project-links-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.project-links-container p {
  margin-top: 1rem;
  margin-right: 0.5rem;
  padding: 12px 20px;
  background-color: #3e3d56;
  color: white;
  border-radius: 4px;
  flex: 1;
  width: auto;
}

.project-links-container p:hover {
  background-color: #6c63ff
}

.project-links-container p:last-child {
  margin-right: 1rem;
}

.project-links-container i {
  padding-top: 1rem;
  padding-right: 1rem;
  font-size: 22pt;
  opacity: 0.55;
}

@media only screen and (max-width: 58rem) {
  #projects .container{
    margin: auto;
  }

  #projects-description {
    font-size: 14pt;
  }
  .project-card {
    margin: 5rem;
    width: 85vw;
  }

  #projects img {
    width: 85vw;
    height: auto;
  }

  .project-text-container {
    border-top: 4px solid #000;
    width: 85vw;
  }

  #projects h4 {
    font-size: 32pt;
  }

  #projects p {
    font-size: 16pt;
  }

  #projects .header-break-project-card {
    margin-top: 2rem;
  }


  .project-links-container {
    text-align: center;
    justify-content: space-between;
  }



  .project-links-container p:last-child {
    margin-right: 0rem;
  }

  .project-links-container p {
    width: 36vw;

  }
  .project-links-container #permitdocs  {
    /* width: 77vw; */
  }
  .project-links-container i {
    display: none;
  }
}



/* ------------------------ */
/*      CONTACT SECTION     */
/* ------------------------ */

.contact-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
  max-width: 45rem;
  margin: -4rem auto -8rem auto;
  padding: 2rem 3rem 3rem 3rem;
  background-color: #f2f2f2;
  border-radius: 5px;
}

@media only screen and (max-width: 58rem) {
  .contact-wrapper {
    min-width: 100vw;
    border-radius: 0px;
  }

}



#contact .header-break {
  background: #000;
  opacity: 0.25;
}

#contact .header-break-full {
  width: 100%;
  background: #000;
  margin: 2rem 0;
  opacity: 0.15;
}

#contact-description {
  font-size: 12pt;
  margin-top: 1rem;
  opacity: 0.7;
}

.contact-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.contact-button {
  color: white;
  width: 9rem;
  margin-top: 1rem;
  padding: 12px 20px;
  background-color: #6c63ff;
  border-radius: 4px;
}

.contact-button:hover {
  background-color: #837CFF;
}

#input-name-email-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#input-name, #input-email {
  width: 19rem;
}

input[type=text], select, textarea {
  width: 100%;
  margin: 4px 0 12px 0;
  padding: 12px;
  font-size: 11pt;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 12rem;
  resize: none;
}

input[type=submit] {
  float: right;
  padding: 12px 20px;
  font-size: 11pt;
  background-color: #3e3d56;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #6c63ff;
}

/* ----------------------- */
/*      FOOTER SECTION     */
/* ----------------------- */

footer p {
  z-index: 3;
  position: relative;
  width: 100%;
  font-size: 8pt;
  text-align: center;
  height: auto;
  color: #ccc;
  padding: 0.5rem;
}
